.backImage{
    background-image: url("../../../public/versity1`.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
  height: 600px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto; /* Resize the background image to cover the entire container */
}
.messege{
  text-align: left;
  color: black;
}
.blockquote{
    padding: "10px";
    background-color : #222e3b;
    color: aliceblue;
  }
.vcSir{
  text-align: "end";
}
.ImageHading{
    font-size: "40px" !important;
    font-weight: "bolder ";
    color: #955b00
}
.wellCome{
  color: #062657;
    font-weight: 900;
    font-family: cursive;
    font-size: -webkit-xxx-large;
}
.universityName{
  font-weight: 900;
    font-family: cursive;
    font-size: -webkit-xxx-large;
}
.positionMargin{
  margin-top: 100px ;
}