
.inputField{
    height: 40px;
    width: 60%;
    margin: 19px;
    border: 1px solid rgb(78, 55, 11);
    border-radius: 10px;
    font-weight: 600;
}
.regFormColor{
    background-color: #1d1d19;
}
.google{
    color: rgb(30, 253, 30);
    font-size: 24px;
    margin-right: 10px;
}
.success{
    color: green;
}
.createAccountBtn{
    background-color: #4267B2;
}